# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [45]:
# your code here

import pandas as pd
import tensorflow as tf

data = pd.read_csv('tic-tac-toe.csv')

In [83]:
data.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o      1
1  x  x  x  x  o  o  o  x  o      1
2  x  x  x  x  o  o  o  o  x      1
3  x  x  x  x  o  o  o  b  b      1
4  x  x  x  x  o  o  b  o  b      1

In [47]:
data.isnull().sum()

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

In [48]:
#Convert the categorical values to numeric in all columns
obj_df = data.select_dtypes(include=['object']).copy()
obj_df = obj_df.astype('category')

obj_df['TL'] = obj_df['TL'].cat.codes
obj_df['TM'] = obj_df['TM'].cat.codes
obj_df['TR'] = obj_df['TR'].cat.codes
obj_df['ML'] = obj_df['ML'].cat.codes
obj_df['MM'] = obj_df['MM'].cat.codes
obj_df['MR'] = obj_df['MR'].cat.codes
obj_df['BL'] = obj_df['BL'].cat.codes
obj_df['BM'] = obj_df['BM'].cat.codes
obj_df['BR'] = obj_df['BR'].cat.codes

In [87]:
obj_df

     TL  TM  TR  ML  MM  MR  BL  BM  BR
0     2   2   2   2   1   1   2   1   1
1     2   2   2   2   1   1   1   2   1
2     2   2   2   2   1   1   1   1   2
3     2   2   2   2   1   1   1   0   0
4     2   2   2   2   1   1   0   1   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..
953   1   2   2   2   1   1   1   2   2
954   1   2   1   2   2   1   2   1   2
955   1   2   1   2   1   2   2   1   2
956   1   2   1   1   2   2   2   1   2
957   1   1   2   2   2   1   1   2   2

[958 rows x 9 columns]

In [49]:
data['class'] = data['class'].astype('category')

data['class'] = data['class'].cat.codes

In [50]:
#Separte the inputs and output

inputs = obj_df

output = data['class']

In [52]:
#Normalize the inputs

from sklearn import preprocessing

X_normalized = preprocessing.normalize(inputs, norm = "l2")

In [53]:

X_normalized

array([[0.40824829, 0.40824829, 0.40824829, ..., 0.40824829, 0.20412415,
        0.20412415],
       [0.40824829, 0.40824829, 0.40824829, ..., 0.20412415, 0.40824829,
        0.20412415],
       [0.40824829, 0.40824829, 0.40824829, ..., 0.20412415, 0.20412415,
        0.40824829],
       ...,
       [0.20412415, 0.40824829, 0.20412415, ..., 0.40824829, 0.20412415,
        0.40824829],
       [0.20412415, 0.40824829, 0.20412415, ..., 0.40824829, 0.20412415,
        0.40824829],
       [0.20412415, 0.20412415, 0.40824829, ..., 0.20412415, 0.40824829,
        0.40824829]])

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [78]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X_normalized, output, test_size = 0.30, random_state= 42)

In [80]:
# Creating Sequential model

model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(9, activation=tf.nn.relu))  # a simple fully-connected layer, 128 units, relu activation
model.add(tf.keras.layers.Dense(9, activation=tf.nn.relu))  # a simple fully-connected layer, 128 units, relu activation
model.add(tf.keras.layers.Dense(2, activation=tf.nn.softmax))  # our output layer. 10 units for 10 classes. Softmax for probability distribution

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])  

model.fit(x_train, y_train, epochs=4
         )  # train the model

val_loss, val_acc = model.evaluate(x_test, y_test)  # evaluate the out of sample data with model
print(val_loss)  # model's loss (error)
print(val_acc)  # model's accuracy

Epoch 1/4
21/21 [==============================] - 0s 674us/step - loss: 0.7341 - accuracy: 0.3940
Epoch 2/4
21/21 [==============================] - 0s 674us/step - loss: 0.6953 - accuracy: 0.5015
Epoch 3/4
21/21 [==============================] - 0s 701us/step - loss: 0.6764 - accuracy: 0.6224
Epoch 4/4
21/21 [==============================] - 0s 675us/step - loss: 0.6661 - accuracy: 0.6478
9/9 [==============================] - 0s 735us/step - loss: 0.6554 - accuracy: 0.6701
0.6554257869720459
0.6701388955116272

In [75]:
# Saving model

model.save('tic-tac-toe.model')

INFO:tensorflow:Assets written to: tic-tac-toe.model/assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [67]:
new_model = tf.keras.models.load_model('tic-tac-toe.model')

predictions = new_model.predict(x_test)

In [68]:
predictions[0]

array([3.1200346e-01, 6.5663153e-01, 6.7818980e-04, 2.7641829e-03,
       6.6740962e-04, 3.6033422e-03, 7.7988516e-04, 4.3924304e-04,
       1.3635928e-03, 1.9304037e-04, 1.1771743e-03, 3.5704125e-04,
       4.3926438e-04, 5.9029856e-04, 2.1799256e-03, 5.4085633e-04,
       2.0568932e-03, 1.4291713e-03, 1.1352723e-03, 1.1880895e-03,
       1.1364883e-03, 4.6405679e-04, 2.2488181e-03, 8.2925014e-04,
       1.7025237e-03, 2.8699278e-04, 9.1514463e-04, 5.7871558e-04,
       7.0424069e-04, 9.1586320e-04], dtype=float32)

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [ ]:
# your code here

tf.keras.optimizers.Adam(
    learning_rate=0.001, beta_1=0.9, beta_2=0.999, epsilon=1e-07, amsgrad=False,
    name='Adam')

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here